.Nb{
    position: fixed;
    top: 0; 
}
.navbar-nav{
    display: flex;
    justify-content: center;
  }
  .navLink{
    margin: 10px;
  }
  .navLink:hover{
    background-color: palevioletred;
  
  }