.Nb{
    position: fixed;
    top: 0; 
}
.navbar-nav{
    display: flex;
    justify-content: center;
  }
  .navLink{
    margin: 10px;
  }
  .navLink:hover{
    background-color: palevioletred;
  
  }
  .navHamburger{
    margin-right: 40px;
    cursor: pointer;
    font-size: 35px;
  }
  
  @media (max-width: 850px){
    .navBarText{
      display: none;
    }
  
    .navHamburger{
      display: flex;
    }
  
    .hamburgerText{
      display: flex;
    }
  }
