
.carousel{
  height: 400px;
  width: 1500px;
  background-color: grey;
  display: flexbox;
  align-content: center;
}
.navbar-nav{
  display: flex;
  justify-content: center;
}
.navLink{
  margin: 10px;
}
.navLink:hover{
  background-color: palevioletred;

}
.footerPage{
  background-color: lightseagreen;
  top: -200;
  overflow: visible;

}
.skillsPage{
  background-color: lightseagreen;
  
}
.roundedBottom{
  background-color: white;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px; 

}
