
.carousel{
  height: 400px;
  width: 1500px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #623b76 50%, #2B86C5 100%);
  display: flexbox;
  align-content: center;
}

.footerPage{
  background-color: lightseagreen;
  top: -200;
  overflow: visible;

}
.page{
  height: 100vh;
  padding-top: 40px;
    }

